@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-manrope);
}

* {
  box-sizing: border-box;
}

::selection {
  background: #d6a84f;
  color: black;
}